.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 300ms ease-out;
    background-color: transparent;
    text-transform: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: orange;
}

.btn-primary:hover {
    background-color: #FF8C00;
}
