.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 300ms ease-out;
    background-color: transparent;
    text-transform: none;
    padding: var(--dist-md) var(--dist-lg);
    font-size: var(--dist-md);
    font-weight: 700;
    text-align: center;
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    color: var(--grey-color);
    background-color: var(--grey-color-disabled);
}

.btn-primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
}

.btn-primary-inverse {
    color: var(--primary-color);
    background-color: transparent;
}

.btn-primary-inverse:hover {
    color: var(--primary-color);
    background-color: var(--primary-color-inverse-hover);
}

.control-buttons {
    display: inline;
    margin: var(--dist-sm) var(--dist-lg);
}
