.grey-container {
    padding: var(--dist-lg);
    background-color: var(--grey-color-light); 
}

.img-container {
    display: flex;
    align-items: center;
    min-height: 300px;
}

@media only screen and (max-width: 768px) {
    .img-container {
        min-height: 120px;
    }  
}

@media only screen and (max-width: 1024px) {
    .img-container {
        min-height: 200px;
    }  
}


