.grid-container-columns {
    display: grid;
    align-content: center;
    grid-gap: var(--dist-md);
    padding: var(--dist-md);
    grid-template-columns: auto auto auto;
}

.grid-item {
    width: 100%;
}

.grid-container-rows {
    display: grid;
    align-content: center;
    grid-gap: var(--dist-md);
    padding: var(--dist-md);
    grid-template-rows: auto;
}

.grid-container-cart-item {
    display: grid;
    align-content: center;
    grid-gap: var(--dist-xs);
    padding: var(--dist-md);
    grid-template-columns: 20% 25% 15% 25% 15%;
}

.grid-item-cart {
    width: 100%;
    height: 200px;
}
