header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: orange; 
    justify-content: flex-end;
    
}

header li {
    align-items: flex-end;
}

header li a {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 16px 24px;
    text-decoration: none;
}

header li a:hover {
    background-color: rgba(255, 166, 0, 0.884);
}

.cart-badge {
    background-color: white;
    color: orange;
    text-align: center;
    vertical-align: middle; 
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    margin: 0 4px;
}
