header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color); 
    justify-content: flex-end;
    
}

header li {
    align-items: flex-end;
}

header li a {
    display: block;
    color: var(--white-color);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: var(--dist-md) var(--dist-lg);
    text-decoration: none;
}

header li a:hover {
    background-color: var(--primary-color-hover);
}

.cart-badge {
    background-color: var(--white-color);
    color: var(--primary-color);
    text-align: center;
    vertical-align: middle; 
    display: inline-block;
    border-radius: 50%;
    width: var(--dist-lg);
    height: var(--dist-lg);
    line-height: var(--dist-lg);
    font-size: var(--dist-md);
    margin: 0 var(--dist-xs);
}
