* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

:root {
    --white-color: #FFF;
    --primary-color: #FFA500;
    --black-color: #353839;
    --primary-color-hover: #FF8C00;
    --primary-color-inverse-hover: rgba(255, 165, 0, .5);
    --grey-color: #545454;
    --grey-color-light: #F5F5F5;
    --grey-color-disabled: #EDEDED;
    --dist-xs: 4px;
    --dist-sm: 8px;
    --dist-md: 16px;
    --dist-lg: 24px;
}

.marg-bottom-sm {
    margin-bottom: var(--dist-sm);
}

.marg-bottom-md {
    margin-bottom: var(--dist-md);
}

.marg-bottom-lg {
    margin-bottom: var(--dist-lg);
}

.marg-top-sm {
    margin-top: var(--dist-sm);
}

.marg-top-md {
    margin-top: var(--dist-md);
}

.marg-top-lg {
    margin-top: var(--dist-lg);
}

.marg-left-sm {
    margin-left: var(--dist-sm);
}

.marg-left-md {
    margin-left: var(--dist-md);
}

.marg-left-lg {
    margin-left: var(--dist-lg);
}

.marg-v-sm {
    margin-bottom: var(--dist-sm);
    margin-top: var(--dist-sm);
}

.marg-v-md {
    margin-bottom: var(--dist-md);
    margin-top: var(--dist-md);
}

.marg-v-lg {
    margin-bottom: var(--dist-lg);
    margin-top: var(--dist-lg);
}

.marg-h-sm {
    margin-left: var(--dist-sm);
    margin-right: var(--dist-sm);
}

.marg-h-md {
    margin-left: var(--dist-md);
    margin-right: var(--dist-md);
}

.marg-h-lg {
    margin-left: var(--dist-lg);
    margin-right: var(--dist-lg);
}

.text-grey {
    color: var(--grey-color);
}

.d-inline-block {
    display: inline-block;
}

.price {
    text-align: center;
    margin: 12px auto;
}

.t-center {
    text-align: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
