* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.marg-bottom-sm {
    margin-bottom: 8px;
}

.marg-bottom-md {
    margin-bottom: 16px;
}

.marg-bottom-lg {
    margin-bottom: 24px;
}

.marg-top-sm {
    margin-top: 8px;
}

.marg-top-md {
    margin-top: 16px;
}

.marg-top-lg {
    margin-top: 24px;
}

.marg-left-sm {
    margin-left: 8px;
}

.marg-left-md {
    margin-left: 16px;
}

.marg-left-lg {
    margin-left: 24px;
}

.marg-v-sm {
    margin-bottom: 8px;
    margin-top: 8px;
}

.marg-v-md {
    margin-bottom: 16px;
    margin-top: 16px;
}

.marg-v-lg {
    margin-bottom: 24px;
    margin-top: 24px;
}

.marg-h-sm {
    margin-left: 8px;
    margin-right: 8px;
}

.marg-h-md {
    margin-left: 16px;
    margin-right: 16px;
}

.marg-h-lg {
    margin-left: 24px;
    margin-right: 24px;
}

.text-grey {
    color: grey;
}

